@tailwind base;
@tailwind components;
@tailwind utilities;

.primary {
  color: "556cd6";
}

.hide-scroll-bar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}
